<!doctype html>
<html>

	<head>
    <title><%= @title || "QuickFIX/N" %></title>
    <%= stylesheet 'blueprint/screen' %>
    <!--[if lt IE 8]>
    <%= stylesheet 'blueprint/ie' %>
    <![endif]-->
    <%= stylesheet 'highlight' %>
    <%= stylesheet 'layout' %>
    <%= js 'highlight.pack' %>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
    
	</head>
	
	<body lang="en">
	  <div class="container">
      <%= yield %>
    </div>
	</body>
	
</html>
