<!doctype html>
<html>

	<head>
    <title><%= @title || "QuickFIX/N" %></title>
    <%= stylesheet 'blueprint/screen' %>
    <!--[if lt IE 8]>
    <%= stylesheet 'blueprint/ie' %>
    <![endif]-->
    <%= stylesheet 'highlight' %>
    <%= stylesheet 'layout' %>
    <%= js 'highlight.pack' %>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
    
	</head>
	
	<body lang="en">
	  <div class="container">
      <div id='header' class='span-24'>
      </div>
      <div id='mainnav' class='span-24'>
        <%= nav_div('docs', @curnav) %>
          <span class='fonticon'>F</span><span class='navitem-text'>Docs</span>
        </div>
        <div class='navitem'>
          <span class='fonticon'>}</span><span class='navitem-text'>Download</span>
        </div>
        <div class='navitem'>
          <span class='fonticon'>U</span><span class='navitem-text'>Get Help</span>
        </div>
        <div class='navitem'>
          <span class='fonticon'>i</span><span class='navitem-text'>About</span>
        </div>
      </div>
      <div id='main-content' class='prepend-1 span-14'>
        <%= yield %>
      </div>
      <div id='side-nav' class='span-7 last'>
        <a href='' class='span-7 last'>Creating an Application</a>
        <a href='' class='span-7 last'>Sending Messages</a>
        <a href='' class='span-7 last'>Receiving Messages</a>
        <a href='' class='span-7 last'>Repeating Groups</a>
        <a href='' class='span-7 last'>Configuration</a>
        <a href='' class='span-7 last'>Custom Fields</a>
      </div>
    </div>
	</body>
	
</html>
